<h1>All articles</h1>
<hr>
<p>

 <% @articles.each do |article| %>
		<div id="article_box">
		<div id="art_img"><%= image_tag article.photo.url(:medium)%> </div>	
			<div class="art_title"><%= article.title %></div>
      <div class="art_text"><%= article.text %></div>
    </div>
  <% end %>





