<h1 class='welcome'>Rails Blogging Application </h1>
<hr></hr>
<div id='wrap'>
<p>
<div class='welcome_txt'>	Click the link below to get started.</div>
</p>

<div class='welcome_link'><%= link_to 'All articles', controller: 'articles' %></div>

</div>