// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {

	text-align: center;
	&.left {
	text-align: left;
	}
}


#article-body {
	
	padding: 5px;
	margin:0 auto;

}

#article_image {

	float:right; 
	padding: 5px;
}

