<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<head>

	<ul id= "nav">
		<li><a href ="/">Home</a></li>
		<li><a href ="/articles">All articles</a></li>
		<li><a href ="/favorites">Favorite articles</a></li>
		<li><a href = "/articles/new">Create new article</a></li>
	</ul>

	</head>

<%= yield %>

</body>
</html>
